*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d1dedd;
}

h1,
h2, 
h3{
    color: #767f7e;
}

p{
    color: #828b8a;
}
header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 20px auto;
    gap: 60px;
}
.img{
    width: 600px;
    height: 400px;
}